<div class="px-4">
    <div class="max-w-lg mx-auto mt-10 p-8 bg-white shadow-lg rounded">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Reset Password</h2>

        <!-- Reset Password Form -->
        <form [formGroup]="fg" (submit)="submit()" class="space-y-6">

            <!-- Email Field -->
            <div>
                <label for="email" class="block text-sm font-semibold text-gray-700">Email</label>
                <input id="email" type="email" formControlName="email" name="email" (keyup)="updateEmailError()"
                    (change)="updateEmailError()"
                    class="mt-2 block w-full px-4 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                @if (emailError()) {
                <span class="mt-2 text-center text-red-600 text-sm">{{ emailError() }}</span>
                }
            </div>

            <!-- Submit Button -->
            <app-button color="blue" class="flex justify-center" clazz="w-full text-lg font-semibold"
                [disabled]="fg.invalid" padding="lg" text="Reset Password" [type]="'submit'"></app-button>
        </form>

    </div>
</div>