<div class="flex items-center space-x-1">
    @if (type() === 'number') {
        <span>$</span>
    }
    @if (type() === 'checkbox') {
    <input
        class="accent-blue-500"
        [type]="type()"
        [ngClass]="clazz()"
        [disabled]="disabled()"
        [checked]="value()"
        (change)="update($event, false)"
    />
    } @else {
    <input
        class="rounded w-full pl-1 pr-1 disabled:cursor-text disabled:bg-transparent enabled:hover:outline enabled:hover:outline-gray-300"
        [type]="type()"
        [ngClass]="clazz()"
        [value]="value() ?? ''"
        [disabled]="disabled()"
        (focus)="selectText($event)"
        (blur)="update($event, false)"
        (keyup.enter)="update($event, true)"
        (keyup.escape)="update($event, true)"
    />
    }
</div>