<div class="w-screen mx-auto mt-10 p-6 bg-white shadow-md rounded">
  <!-- Document Title and Manage Button -->
  <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-6">
    <!-- Document Title -->
    <div class="w-full">
      <app-input clazz="w-full text-2xl font-bold text-gray-800 mb-4 mr-0 md:mr-4 md:mb-0" [value]="document()?.title"
        [disabled]="isViewer()" (updated)="saveTitle($event)">
      </app-input>
    </div>

    <!-- Manage Document Dropdown -->
    @if (isOwner() || isEditor()) {
    <app-dropdown label="Manage Document" [actions]="getManageDocumentActions()"
      (dropdownItemClicked)="handleManageDocumentActions($event)">
    </app-dropdown>

    <input #fileImportInput type="file" id="fileInput" accept=".json" class="hidden"
      (change)="importDocument($event)" />
    }
  </div>

  <!-- Bill Table -->
  <app-bill-table [headers]="headers()" [data]="enabledBills()" [isOwner]="isOwner()" [isEditor]="isEditor()"
    [isViewer]="isViewer()" (sortTable)="sortTable($event)" (toggleDisabled)="toggleDisabled($event)"
    (openDeleteBillModal)="openDeleteBillModal($event)" (valueUpdate)="saveCell($event)"></app-bill-table>

  <!-- Add New Bill Button -->
  @if (isOwner() || isEditor()) {
  <div class="mt-4">
    <app-button text="Add New Bill" color="blue" (click)="addNewBill()" [disabled]="addingNewBill()"
      [loading]="addingNewBill()"></app-button>
  </div>
  }

  <!-- Disabled Bills -->
  <div class="mt-10 mb-4">
    <p class="text-xl font-bold">Disabled Bills</p>
  </div>
  <app-bill-table [headers]="headers()" [data]="disabledBills()" [isOwner]="isOwner()" [isEditor]="isEditor()"
    [isViewer]="isViewer()" (sortTable)="sortTable($event)" (toggleDisabled)="toggleDisabled($event)"
    (openDeleteBillModal)="openDeleteBillModal($event)" (valueUpdate)="saveCell($event)"></app-bill-table>
  <div class="mb-6"></div>

  <!-- Delete Bill Modal -->
  @if (isOwner() || isEditor()) {
  <app-modal [visible]="pendingDeleteBill() !== null" [disabled]="deletingBill()" [loading]="deletingBill()"
    title="Delete Bill" confirmText="delete" closeText="cancel" (confirmAction)="confirmDeleteBill()"
    (closeAction)="closeDeleteBillModal()">
    <p class="text-gray-600 mb-4">Are you sure you want to delete this bill?</p>
    @for (item of pendingDeleteBill() | keyvalue; track item.key) {
    @if (item.key !== '__disabled' && item.key !== '__id') {
    <p class="pl-4 mb-1">{{ getHeaderForBillKey(item.key) }}: {{ item.value || '""' }}</p>
    }
    }
  </app-modal>
  }

  <!-- Delete Document Modal -->
  @if (isOwner()) {
  <app-modal [visible]="showDeleteDocumentModal()" [disabled]="deletingDocument()" [loading]="deletingDocument()"
    title="Delete Document" confirmText="delete" closeText="cancel" (confirmAction)="deleteDocument()"
    (closeAction)="closeDeleteDocumentModal()">
    <p class="text-gray-600">Are you sure you want to delete this document? This action cannot be undone.</p>
  </app-modal>
  }

  <!-- Share Document Modal / Import Modal / Edit Headers Modal -->
  @if (isOwner() || isEditor()) {
  <app-modal [visible]="showShareModal()" title="Manage Sharing" closeText="done" (closeAction)="closeShareModal()">
    <!-- Add new user -->
    <form (submit)="shareDocument()">
      <div class="flex items-start space-x-4 mb-4">
        <!-- Email input and error container -->
        <div class="flex flex-col w-full">
          <input type="email" name="email" placeholder="Add people by email" [formControl]="shareEmail"
            (keyup)="updateEmailError()" (change)="updateEmailError()" (blur)="updateEmailError()"
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
          <!-- Error message under email input -->
          @if (emailError()) {
          <span class="text-red-600 text-sm">{{ emailError() }}</span>
          }
        </div>

        <!-- Role dropdown for new user -->
        <div class="flex items-center">
          <app-dropdown [label]="newUserRole() || 'Select Role'" [actions]="[
            { id: 'viewer', label: 'Viewer' },
            { id: 'editor', label: 'Editor' }
          ]" (dropdownItemClicked)="updateUserRole($event)"></app-dropdown>
        </div>
      </div>

      <div class="flex justify-end mb-4">
        <app-button text="Add" type="submit" color="green" clazz="px-10"
          [disabled]="shareEmail.invalid || newUserRole() === null || sendingShareRequest()"
          [loading]="sendingShareRequest()"></app-button>
      </div>
    </form>

    @if (flatmapAcl()) {
    <p class="font-semibold mb-2">Shared With:</p>
    <ul class="max-h-48 overflow-y-auto border border-gray-200 rounded p-2 space-y-2">
      @for (acl of flatmapAcl(); track acl.email) {
      <li class="flex items-center justify-between hover:bg-gray-100">
        <span class="ml-4 mr-4">{{ acl.email }}</span>
        <div class="flex items-center">
          <app-dropdown [label]="acl.role" [actions]="getAclActions(acl)" [loading]="updatingUserAcl() === acl"
            [disabled]="updatingUserAcl() !== null" (dropdownItemClicked)="handleUpdateAcl($event, acl)"></app-dropdown>
        </div>
      </li>
      } @empty {
      <li class="p-4">Not shared with anyone yet!</li>
      }
    </ul>
    }
  </app-modal>

  <app-modal [visible]="showConfirmRemoveAccessModal()" title="Remove Access" confirmText="remove" closeText="cancel"
    (confirmAction)="confirmRemoveAccess()" (closeAction)="cancelRemoveAccess()">
    <p class="text-gray-600">Are you sure you want to remove access for {{ pendingRemoveAccess()?.email }}?</p>
  </app-modal>

  <app-modal [visible]="showImportModal()" [disabled]="importingFile()" [loading]="importingFile()" title="Import File"
    confirmText="Import" closeText="cancel" (confirmAction)="importModalConfirmAction()"
    (closeAction)="closeImportModal()">
    <p class="text-gray-600">Are you sure you want to import a document? This action will overwrite all existing data.
    </p>
  </app-modal>

  <app-modal [visible]="showWarningForEditHeadersModal()" title="Edit Headers" closeText="Cancel" confirmText="Continue"
    (closeAction)="closeWarningForEditHeadersModal()"
    (confirmAction)="closeWarningForEditHeadersModal(); openEditHeadersModal()">
    <p class="text-gray-600">Are you sure you want to edit your headers? Removing headers is permanent and cannot be
      undone.</p>
  </app-modal>

  <app-modal [visible]="showEditHeadersModal()" [allowCloseOnEnter]="false" [allowCloseOnEscape]="false"
    title="Edit Headers" closeText="Close" (closeAction)="closeEditHeadersModal()">

    <div class="max-h-96 overflow-y-auto border border-gray-200">

      <table class="rounded table-auto w-full">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Display Name</th>
            <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Type</th>
            <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Actions</th>
          </tr>
        </thead>
        <tbody #editHeadersModalFormTableBody>
          @for(header of headers(); track header.key) {
          <tr>
            <td class="p-2">
              <input type="text" [value]="header.display"
                (change)="updateHeaderDisplay_editHeadersModal(header, $event)"
                class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
            </td>

            <td class="p-2">
              <app-dropdown [label]="header.type || 'Select Type'" [actions]="getActionsForDropdown_editHeadersModal()"
                (dropdownItemClicked)="updateHeaderType_editHeadersModal(header, $event)"></app-dropdown>
            </td>

            <td class="p-2">
              <app-button color="gray" text="delete" (click)="removeHeader_editHeadersModal(header)"></app-button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <app-button clazz="mt-4" color="blue" text="Add Header" [disabled]="addingNewHeader()" [loading]="addingNewHeader()"
      (click)="addHeader_editHeadersModal()"></app-button>
  </app-modal>
  }
</div>