<div class="relative">
  <app-button color="gray" clazz="flex items-center" icon="dropdown" [type]="'button'" [text]="label()"
    (click)="toggleDropdown()"></app-button>

  <div #dropdownMenu class="dropdown-menu hidden" [ngClass]="{ 'block': isOpen(), 'hidden': !isOpen() }">
    <div class="w-auto min-w-40 bg-white border border-gray-200 rounded shadow-lg">
      @for (action of actions(); track action.id) {
      <button class="block w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100" type="button"
        (click)="selectAction(action.id)">
        {{ action.label | titlecase }}
      </button>
      }
    </div>
  </div>
</div>
